/** Add css rules here for your application. */
.Header {
	background: url(images/altheaderbar.png) no-repeat;
	background-color: rgb(88, 88, 88);
	float: left;
	font-size: 30px;
}

.Header .HeaderTitle {
	width: 525px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	cursor: pointer;
	opacity: 0.0;
}

.Header .gwt-Image {
	margin-top: 10px;
	margin-right: 10px;
	width: 40px;
	height: 41px;
	cursor: pointer;
}

.Header .gwt-Image:active {
	opacity: 0.75;
}

.Header .AddButton {
	text-align: right;
}

.Content {
	background-color: rgb(235, 235, 235);
}

.Opening {
	float: left;
	border-spacing: 2px;
	margin-bottom: 10px;
}

.Thumbnail {
  float: left;
  border-spacing: 0px;
}

.Verso {
	text-align: right;
	margin-left: 15px;
	margin-right: 0px;
}

.Recto {
	text-align: left;
	margin-left: 0px;
	margin-right: 15px;
}

.Thumbnail:hover {
  background-color: #6495ED;
}

.Thumbnail .gwt-Label {
  font-weight: bold;
  text-align: center;
  color: rgb(0, 0, 0);
}

.View {
	float: left;
	margin: 10px;
	border: 0px;
}

.PanelView {
  float: left;
  margin: 10px;
  border: 3px solid rgb(114, 70, 66);
}

.PanelTitle {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 1em;
}

.PanelHeader {
  font-weight: bold;
  margin: 1em;
}

.PanelToolbar .gwt-TextBox {
  margin-right: 1em;
}

.PanelToolbar {
  margin-top: 1em;
}

.CellListScroll {
	border: 1px solid rgb(145, 145, 145);
}

/* ------ Home Panel ------ */

.CellList {
	background-color: white;
}

/* ------ Panel Titlebar ------ */

.PanelTitleBar {
	
}

.ContextBar {
	float: left;
	background: url(images/panelbar2.png) no-repeat;
	background-color: rgb(114, 70, 66);
	color: white;
}

.ContextBar .Link {
	float: left;
	font-size: 16px;
	margin-right: 10px;
	text-decoration: underline;
	cursor: pointer;
}

.ContextBar .gwt-Label {
	float: left;
	font-size: 16px;
	margin-right: 10px;
}

.PanelTitleBar .gwt-ToggleButton {
	float: left;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-size: 29px 26px;
}

.PanelTitleBar .gwt-ToggleButton:focus {
	outline: none;
}

.PanelTitleBar .gwt-ToggleButton .gwt-Image {
	position: relative;
	top: -5px;
	left: -6px;
	width: 34px;
	height: 30px;
}

.TitleHeader {
	font-weight: bold;
	font-size: 18px;
}

.Options {
	border-collapse:collapse;
}

.Options .gwt-Label {
	border-top: 1px solid black;
	width: 120px;
	margin: 5px 0px;
	cursor: pointer;
	float: left;
}

.Options .gwt-Button {
	width: 24px;
	height: 24px;
	float: left;
}

.Options .gwt-PushButton {
	width: 21px;
	height: 25px;
	float: left;
}

.Options .gwt-PushButton:focus {
	outline: none;
}

.Options .gwt-PushButton .gwt-Image {
	position: relative;
	top: -4px;
	left: -6px;
	width: 33px;
	height: 34px;
}

.Options .Swap {
	width: 100px;
	float: left;
}

.Options .Text {
	width: 66px;
	text-align: center;
	cursor: default;
	float: left;
}

.PopupPanel {
	border: 3px solid black;
	background-color: rgb(206, 206, 206);
	padding: 5px;
	color: black;
}

/* ------ */

.StackLayoutPanel {
	border-bottom: 1px solid rgb(206, 206, 206);
}

.StackLayoutPanel .gwt-StackLayoutPanelContent {
	border: 1px solid rgb(114, 70, 66);
	border-bottom: 0px;
	background: rgb(206, 206, 206);
	padding: 2px 2px 10px 5px;
}

.StackLayoutPanel .gwt-StackLayoutPanelHeader {
	cursor: pointer;
	font-weight: bold;
	padding: 3px;
	border: 1px solid rgb(206, 206, 206);
	border-bottom: 0px;
	background: rgb(168, 142, 140);
}

.StackLayoutPanel .gwt-StackLayoutPanelHeader:active {
	opacity: 0.75;
}

/* ------ */

.PanelToolbar .gwt-Button {
  margin-left: 1em;
}

.PageTurner .gwt-Label {
  font-weight: bold;
}

.Loading {
	/* background-image: url('images/loading.gif'); */
}

.View .gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
	width: 100%;
}

.View .gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
	background-color: rgb(168, 142, 140);
	margin-left: 0px;
	padding: 3px 10px;
	font-size: larger;
}

.View .gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
	background-color: rgb(114, 70, 66);
}

.View .gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
	padding: 6px;
	border: 3px solid rgb(114, 70, 66);
}

.View .gwt-TabLayoutPanel .gwt-TabLayoutPanelContentContainer {
	border-width: 0px;
}

.PageTurner .WebImage {
	cursor: pointer;
}

.AppHeader {
}

/** ------ Manifest list ------ */

.ManifestList {
	width: 97%;
}

.ManifestList .gwt-DisclosurePanel {
	margin-bottom: 40px;
}

.ManifestList .gwt-DisclosurePanel .header .gwt-HTML {
	text-decoration: none;
	font-weight: bold;
	font-size: 125%;
	color: rgb(10, 10, 255);
}

.ManifestList .gwt-DisclosurePanel .gwt-HTML {
	vertical-align: top;
}

.MetadataSubtitle {
  /* font-style: italic; */
  font-weight: bold;
  vertical-align: top;
}

.ManifestList .Sequence .gwt-Label {
	margin-top: 10px;
}

.ManifestList .gwt-ListBox {
	width: 85%;
}

/* ------- Annotation list ------ */

.AnnotationList {
	width: 97%;
}

.AnnotationList .ScrollPanel {
	width: 97%;
	height: 10em;
	margin-bottom: 20px;
	border: 2px solid rgb(114, 70, 66);
}

.AnnotationList .CheckboxColumn {
	width: 20px;
}

.AnnotationList .SectionLabel {
	font-size: 110%;
	font-weight: bold;
}

.AnnotationLabel {
	font-size: 1.15em;
	margin-bottom: 5px;
}

/** ------  */

.Canvas {
	border-width: 1px;
	border-style: solid;
}

.CanvasToolbar {
	text-align: center;
}

.CanvasToolbar .gwt-Button {
	margin-left: 4px;
}

.CanvasToolbar .gwt-TextBox {
	margin-left: 50px;
}

/** ------ Non-targeted Text Annotations ------ */

.AnnotationDialog {
	top: 20px;
	left: 20px;
}

.TextAnnoTabPanel {
	height: 95%;
	width: 95%;
}

.TextAnnoTabPanel .gwt-TabPanelContent {
	width: 97%;
	height: 100%;
} 

.TextAnnoTabPanel .TranscriptionInitial {
	font-size: larger;
	font-weight: bold;
}

.TextAnnoTabPanel .TranscriptionExpan {
	font-style: italic;
}

.TextAnnoTabPanel .Tooltip {
	position: relative;
	font-weight: bold;
	text-decoration: none;
	color: rgb(0, 128, 0);
}

.TextAnnoTabPanel .TranscriptionExtra {
}

.TextAnnoTabPanel .TranscriptionExtraHeader {
	font-weight: bold;
}


