/** Add css rules here for your application. */
.Thumbnail {
  float: left;
  margin: 5px
}

.Thumbnail:hover {
  background-color: #6495ED;
}

.Thumbnail .gwt-Label {
  font-weight: bold;
}

.PanelView {
  float: left;
  margin: 10px;
  border: 1px solid black;
}

.PanelTitle {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 1em;
}

.PanelHeader {
  font-weight: bold;
  margin: 1em;
}

.PanelToolbar .gwt-TextBox {
  margin-right: 1em;
}

.PanelToolbar {
  margin-top: 1em;
}

.PanelToolbar .gwt-Button {
  margin-left: 1em;
}

.PageTurner .gwt-Label {
  font-weight: bold;
}

.MetadataTitle {
  font-weight: bold;
}

.MetadataSubtitle {
  font-style: italic;
}

.SidebarItem {
  margin-bottom: 40px;
}
