.cellListKeyboardSelectedItem {
	
}

.cellListOddItem {
	font-decoration: underline;
	background: #ECECEC;
	padding: 2px 6px;
	cursor: pointer;
}

.cellListEvenItem {
	font-decoration: underline;
	padding: 2px 6px;
	cursor:pointer;
}

.cellListSelectedItem {
	background: rgb(145, 145, 145);
}

.cellListWidget {
	font-size: 14px;
}