<!DOCTYPE web-app PUBLIC
	  "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	  "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Rose M3 server</display-name>	
  
  <servlet>
    <servlet-name>M3Servlet</servlet-name>
    <servlet-class>rose.m3.M3Servlet</servlet-class>
    <init-param>
      <param-name>rosa.data.url</param-name>
      <param-value>${rosa.data.url}</param-value>
    </init-param>
    <init-param>
      <param-name>rosa.fsi.name</param-name>
      <param-value>${rosa.fsi.name}</param-value>
    </init-param>
    <init-param>
      <param-name>rosa.col.name</param-name>
      <param-value>${rosa.col.name}</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>M3Servlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
